<h3 class="mt-3 ml-3">Recent Posts:</h3>
<div class="container">
    <div class="card-deck justify-content-center">
        <br>
        {{#each blogpost as |blog|}}
        <div class=" card my-3 mx-3 col-md-5 ">
            <a class="card-header text-dark" href="/api/post/{{this.id}}"><h4>{{blog.title}}</h4></a>
            <div class="card-body">
                <small>Written by: {{blog.user.fname}} {{blog.user.lname}}</small>
                <hr>
                <p>{{blog.content}}</p>
                <a class="btn" href="/api/post/{{this.id}}">See Comments</a>
            </div>

        </div>
        {{/each}}
    </div>
</div>